*{
    padding: 0px;
    margin: 0px;
}
#contenedor {
    background-color: rgb(250, 250, 240);
    margin:0px;
    padding: 0px;
    width: 1283px;   
}
h1{
    display: inline-block;
}
h2{
    display:block;
    text-align: right;
}
p{
    text-align: justify;
    margin: 10px;
}
#container{
    padding: 20;
    width: 1283px;
    height: 940px;
    background-image: radial-gradient(circle, #6f5964, #6f5964, #1c0c10);
}
#fotoprincipal{ 
    width: 530px;
    height:260px ;
    padding: 30px;
    display:inline-block;
    vertical-align: top;
}
.texto1{
    display:inline-block;
    background-image: linear-gradient(to right, #ffffff, #dbccda);
    width:600px;
    height:260px;
    margin: 30px;
    

}
#cuadro{
    margin: 10px;
    width: 1303px;
}
.h3{
    color: white;
    background-image: linear-gradient(#a8a8ad, #888693,#a8a8ad);
    padding: 10px;
}
#lamode{
    display: inline-block;
    width: 350px;
    height: 570px;
    margin:10px;
    min-height: 300px;
    background-image: linear-gradient(to right, #ffffff, #dbccda);
    vertical-align: top;

}
#FamilyContacs{
    display: inline-block;
    width: 350px;
    margin:10px;
    height: 570px;
    min-height: 300px;
    background-image: linear-gradient(to right, #ffffff, #dbccda);
    vertical-align: top;
}
#fiveEleven{
    display: inline-block;
    width: 350px;
    height: 570px;
    margin:10px;
    background-image: linear-gradient(to right, #ffffff, #dbccda);
    vertical-align: top;
}
.imagen1{
    width: 150px;
    height: 100px;
    display: block;
    margin: auto;
}
.boton{
    width: 110px;
    background-color: #407d61;
    color: white;
    border-radius: 8px;
    margin-left: 130px;
    padding: 10px;
    margin-top: 40px;

}
.imagen2{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.imagen3{
    width: 10px;
    height: 10px;
}
#pie{
    text-align: center;
    margin:10px;
}